* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.layout{
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: #6495ed;
    background-repeat: repeat;
    position: relative;
    size: 180px; 
}
.logo{
    height: 60px;
    margin-top: 110px;
    margin-left: 10%;
}